body {
    background-color: white;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    min-height: 100%

}
.subtitle {
    font-style: italic;
    color: gray;
}
h1 {
    color: black;
}

h2.header, h2.header a {
    text-decoration: none;
    color: black;
}

.intro, .error {
    padding: 20px 10em 20px 10em;
    text-align: center;
}

.wrapper {
    min-height: 100%;
}

.main {
    margin-bottom: 60px;
    padding: 30px 30px 30px 30px;
    overflow: auto;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: left;
}

.footer {
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear: both;
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-top: 20px;
}

p.credit {
    font-size: 0.8em;
}

input.button {
    background-color: #ff4500;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    color: white;
    border: 1px solid orange;
    padding-top, padding-bottom: 10px;
    width: 20%;
}

label.error_msg {
    padding-top: 1em;
    color: red;
    display: none;
    font-size: 0.7em;
}

.input {
    font-family: 'Josefin Slab', serif;
    width: 200px;
}

.history_bar {
    text-align: left;
    padding: 5em, 5em, 5em, 5em;
    color: black;
    font-size: 0.9em;
}

.history_bar a {
    color: orange;
    text-decoration: none;
}

.history_bar a:hover {
    color: purple;
}