<!DOCTYPE html>
<html>
<head lang="en">
</head>
<body>
 <div class="history_bar">
        {% if session.searched_names %}
            Your recently searched names:
            {% for n in session.searched_names.split(',')%}
                <a href="{{url_for('show_name_results',base_name=n)}}">{{n}}</a>
            {% endfor %}
        {% endif %}
        <br/>
        {% if session.searched_traits %}
            Your recently searched traits:
            {% for n in session.searched_traits.split(',')%}
                <a href="{{url_for('show_trait_results',trait_word=n)}}">{{ n }}</a>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>