{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
    function clearField(source,target) {
        if (source.value != ""){
            target.value = "";
        }
    }

    function validate_form() {
        if (document.getElementById('base_name').value != "" || document.getElementById('trait_word').value != "") {
            return true;
        }
        else {
            document.getElementById('error_msg').style.display = 'block';
            return false;
        }

    }
</script>
<div class="intro">
    <b>Epnumos</b> uses natural language processing to create meaningful context around personal names, beyond just the basic etymology and origin.
    <br />
    <br />
<form class="landing" onsubmit="return validate_form()" method="POST">
    <input class="input" type="text" id="base_name" name="base_name" onkeypress="clearField(base_name, trait_word)" placeholder="Type a name" />
    <br />
    <br />
    or
    <br/>
    <br/>
    <select class="input" id="trait_word" name="trait_word" onChange="clearField(trait_word, base_name)">
    <option value="">Select a trait</option>
        {% for t in traits %}
    <option value="{{t}}">{{t}}</option>
    {% endfor %}
</select>
    <br/>
    <br/>
    <input id='submit_button' class="button" type="submit" value="Search" />
    <br/>
    <label id="error_msg" class="error_msg">You must enter either a Name or a Trait to proceed.</label>

</form>
</div>
{% include 'history_bar.html' %}
{% endblock %}