<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Epnumos</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h2 class="header"><a href="/">Epnumos</a></h2>
<p class="subtitle">From Greek: <b>epnumos</b>, named after.</p>
<p class="disclaimer">NOTE: This is an <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha"><b>alpha release</b></a> for demo purposes, so data is currently very limited.</p>
<div class="wrapper">

<div class="main">

{% block body %}{% endblock %}
</div>
</div>
<div class="footer">
&copy; <script>document.write(new Date().getFullYear())</script> Kayla F. Armstrong. This site was built with Python and Neo4J. See <a href="/about"> more about this project</a>.|
Contact: <a href="mailto:kfang87@gmail.com">kfang87@gmail.com</a> |
Visit <a href="http://blog.fangstrong.com">my blog</a>
<br/>
<p class="credit">Credits:
    <a href="http://swoogle.umbc.edu/SimService/" target="_blank">UMBC Swoogle Semantic Similarity Service</a>,
    <a href="http://www.sparknotes.com/sparknotes/" target="_blank">SparkNotes</a>,
    <a href="http://name-meanings.com" target="_blank">NameMeanings</a>,
    <a href="http://www.ssa.gov/open/data/" target="_blank">SSA Open Data</a>
</p>
</div>
</html>